.nodelabel:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  background: rgb(236, 236, 236);
}

svg {
  position: relative;
  width: 50vw;
  height: 97vh;
  top: 3vh;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin: auto;
}

.nav-list {
  position: fixed;
  display: flex;
  list-style-type: none;
}

a:link,
a:visited {
  /* padding: 6px 10px;
  background: #16a085;
  border-bottom: 3px solid #117a60;
  border-radius: 6px;
  color: white; */
  color: #11b695;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 10px;
  border: none;
  font-size: 1.2rem;
  outline: none;
}

a:hover,
a:active {
  /* color: #149174; */
  text-shadow: gray 1px 1px;
}

#pn-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  height: 97vh;
  top: 3vh;
}

figure {
  height: 45%;
  margin-bottom: 0px;
}

figcaption {
  text-align: center;
  margin-bottom: 20px;
}

hr {
  width: 90%;
  color: #ebebeb;
}

.pn-img {
  width: 100%;
  max-height: 77%;
}

.figcap-span {
  background-color: #bada55;
  padding: 8px;
  border-radius: 50%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  font: 12px sans-serif;
  background: black;
  border: 0px;
  border-radius: 8px;
  color: white;
}

.toggle-btns {
  position: absolute;
  right: 36px;
  top: 10px;
  width: 36px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: #11b695;
  border: none;
  border-radius: 50%;
  box-shadow: darkgray 2px 2px;
  transition: all 0.2s ease;
  outline: none;
  color: white;
  z-index: 6;
}

.toggle-btns:hover {
  cursor: pointer;
}

#toggle-btn2 {
  position: absolute;
  top: 50%;
}

.locked-btn {
  background: darkgray;
  box-shadow: none;
}
